[Unit]
Description=Stereio - Rock The Craddle
Wants=network-online.target
After=network-online.target

[Service]
Environment=VIRTUAL_ENV=/home/pi/env
Environment=PATH=/home/pi/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/mpv --no-video --input-ipc-server=/tmp/mpvcraddlesocket --mute=yes https://rockthecradle.stream.publicradio.org/rockthecradle.mp3

WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=jgrover

[Install]
WantedBy=multi-user.target